@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --cor-principal:#3a4a33;
    --cor-secundaria:#004040;
    --cor-terciaria:#BFBE9C;
    --cor-branco:white;
    --font:'Oswald', sans-serif;
}

header{
    background-color: var(--cor-principal);
}

.menu{
    display: flex;
    justify-content: center;
    gap: 3.1rem;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem;
}

.menu-option{
    color:var(--cor-branco);
    font-family: var(--font);
}

.menu-option:hover{
    background-color: var(--cor-terciaria);
    transition: ease-in-out 1.0s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    width: 100%;
    background-color: var(--cor-terciaria);
    color:var(--cor-principal);
    font-family: var(--font);
}

.home-content-images{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.list{
    display:flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 60%;
    gap: 1.5rem;
    font-family: var(--font);
}

.list-plants{
    display: flex;
    flex-direction: column;
}

.img{
    border-radius: 5%;
    width: 12.5rem;
    height: 12.5rem;
}

.img-about{
    border-radius: 5%;
    width: 25rem;
    height: 22rem;
}

.about-content{
    display: flex;
    gap: 7.5rem;
    margin: 5% 15%;
}

.about-content-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.9rem;
}

.suporte-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    gap: 1.25rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

li{
    display: flex;
    justify-content: center;
}

.button{
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-principal);
    border-radius: 5%;
    padding: 0.6rem;

}

.button:hover{
    color: var(--cor-terciaria);
    background-color: var(--cor-principal);
    transition: ease-in-out 0.5s;
}

.titulo{
    color:var(--cor-principal);
    font-family: var(--font);
    font-size: 1.56rem;
    font-weight: 600;
}

.subtitulo{
    color:var(--cor-principal);
    font-family: var(--font);
    font-size: 0.9rem;
}